html, body, #root {
  height: 100%; /* Ensure the root container takes up the full height of the viewport */
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

/* Optionally, you can style specific elements within your application */
.main {
  max-width: 100%;
  overflow: hidden;
}
